@use "src/extra" as *;

.tidslinje {
  @include panel;
  padding: 0;

  line {
    stroke: #3e3832;
    stroke-width: 1px;
    shape-rendering: crispEdges;
  }
  path {
    shape-rendering: geometricPrecision;
    fill: hsl(220, 100%, 74%);
  }

  &__tidsrom {
    padding: 0 0.75rem;
    font-size: 0.8rem;
    p {
      margin: 0;
      padding-bottom: 0.5rem;
    }
  }

  &__tooltip {
    position: absolute;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    width: 175px;
    background: #3e3832;
    color: white;
    pointer-events: none;
    display: flex;
    flex-direction: column;
  }
}
