$white: #ffffff;
$navLysGra: #f1f1f1;
$navGra20: #c9c9c9;
$navGra40: #a0a0a0;
$navGra60: #6a6a6a;
$grayIcon: #a0a0a0;
$navMorkGra: #262626;
$navOransje: #ff9100;
$redError: #ba3a26;
$fokusFarge: #00347d;

$border-radius-small: 2px;
$border-radius-base: 4px;

// Saksa i stor grad fra nav-frontend
@mixin knappfylt-mixin-override($bgColor, $textColor, $activeColor, $highlighColor) {
  color: $textColor;
  border-color: $bgColor;
  background-color: $bgColor;
  position: relative;

  &:active,
  &:active:hover,
  &:active:focus {
    box-shadow: none;
    border-color: $activeColor;
    background-color: $activeColor;
  }

  &:focus {
    background-color: darken($bgColor, 5%);
    color: $textColor;
    outline: 0;
    box-shadow: 0 0 0 3px #254b6d;
  }

  &:hover {
    color: $textColor;
    border-color: $highlighColor;
    background-color: $highlighColor;
  }

  &:visited {
    color: $textColor;
  }

  &:disabled {
    top: 0;
    background-color: $grayIcon;
    box-shadow: none;
  }

  &:disabled:hover {
    border-color: $grayIcon;
    transform: none;
  }
}

@mixin panel {
  background-color: $white;
  display: block;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: $border-radius-base;
}