/* autoprefixer grid: autoplace */
@import (less) '~nav-frontend-core';

.application {
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-areas: "header" "content";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  background-color: @navLysGra;

  &__header {
    grid-area: header;
    background-color: @navMorkGra;
    color: white;
  }
  &__content {
    min-height: 0;
    grid-area: content;
    padding: 0.5rem 2rem;
  }

  .center-block {
    max-width: 720px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
