/* autoprefixer grid: autoplace */
@import (less) '~nav-frontend-core';

.application {
  display: grid;
  grid-template-areas: "header" "content";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;

  &__header {
    grid-area: header;
    background-color: #3e3832;
    color: white;
  }

  &__content {
    min-height: 0;
    grid-area: content;
    background-color: #e9e7e7;
    padding: 2rem;

    display: grid;
    grid-template-areas: "search search" "list editor";
    grid-template-columns: minmax(150px, 250px) minmax(150px, 1fr);
    grid-template-rows: min-content 1fr;
  }

  &__editor {
    grid-area: editor;
    padding: 0.5rem;
    border-top: 1px solid @navGra40;
    border-right: 1px solid @navGra40;
    border-bottom: 1px solid @navGra40;
  }

  .teksterliste__sok {
    grid-area: search;
  }
  .teksterliste__liste {
    grid-area: list;
    overflow-y: scroll;
  }
}