.grow {
  flex-grow: 1;
}

.hover-selected {
  cursor: pointer;
  &:hover {
    background-color: var(--a-surface-action-subtle-hover);
  }
}

:root {
  --toastify-color-success: var(--a-surface-success);
  --toastify-color-error: var(--a-surface-danger);
}
