/* autoprefixer grid: autoplace */
@use "src/extra" as *;

.tekstereditor {
  &__knapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__ekstrasprak {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1rem;
  }

  &__knapper, &__ekstrasprak {
    margin-bottom: 1.5rem;
  }

  &__tekstid-og-bruk {
    display: flex;
    margin-left: -0.25rem;
    margin-right: -0.25rem;

    > * {
      flex: 1;
      margin-left: 0.25rem;
      margin-right: 0.25rem;
    }
  }

  .localeeditor__label {
    margin-left: 2rem;
  }

  .skjemaelement {
    position: relative;
    margin-bottom: 1rem;
  }

  .skjemaelement__slett {
    border: none;
    border-radius: $border-radius-small;
    @include knappfylt-mixin-override($redError, $white, darken($redError, 5%), lighten($redError, 5%));
    position: absolute;
    top: 0;
    padding: 0 0.5rem;
    margin-right: 0.5rem;
  }
}

.input--disabled input {
  background-color: $navLysGra;
  border-color: $navGra60;
  box-shadow: none;
  color: $navMorkGra;

  &:focus {
    box-shadow: none;
  }
}
